{% extends 'base.html' %}

{% block title %}JIRA Reports{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Create Issue</h2>
    
    <form id="createIssueForm" class="row g-3">
        <!-- Project Dropdown -->
        <div class="col-md-6">
            <label for="project" class="form-label">Project:</label>
            <select id="project" name="project" class="form-select" required></select>
        </div>
        <!-- Summary Input -->
        <div class="col-md-6">
            <label for="summary" class="form-label">Summary:</label>
            <input type="text" id="summary" name="summary" class="form-control" required>
        </div>

        <!-- Description Textarea -->
        <div class="col-12">
            <label for="description" class="form-label">Description:</label>
            <textarea id="description" name="description" class="form-control" rows="4"></textarea>
        </div>

        <!-- Assignee Dropdown -->
        <div class="col-md-6">
            <label for="assignee" class="form-label">Assignee:</label>
            <select id="assignee-list" name="assignee" class="form-select"></select>
        </div>
  
        <!-- Issue Type Dropdown -->
        <div class="col-md-6">
            <label for="issueType" class="form-label">Issue Type:</label>
            <select id="issueType" name="issueType" class="form-select"></select>
        </div>

        <!-- Priority Dropdown -->
        <div class="col-md-6">
            <label for="priority" class="form-label">Priority:</label>
            <select id="priority" name="priority" class="form-select"></select>
        </div>
        
        <!-- Submit Button -->
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Create Issue</button>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='js/formating.js') }}"></script>
<script src="{{ url_for('static', filename='js/reports.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

{% endblock %}