<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('create_issue') }}">Create Issue</a></li>
                <li><a href="{{ url_for('Reports') }}">Reports</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        &#123;% block body %&#125;
        &#123;% if session['logged_in'] %&#125;

            You're logged in already!

        &#123;% else %&#125;
                <form action="/login" method="POST">
                <input type="username" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Log in">
            </form>
        &#123;% endif %&#125;
        &#123;% endblock %&#125;
        &#123;% endraw %&#125;
    </main>

    <footer>
        <p>&copy; 2025 My Jira App</p>
    </footer>
    
</body>
</html>